/* BrandInfo */
/* *{
   border : 1px solid green
} */

.wrap {
  height: 100vh;
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.logo {
  text-align: center;
}

#brand-logo {
  width: 600px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

#contents-top {
  width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.contents-menu {
  display: inline-block;
  outline: 0;
  margin-right: 20px;
}

.contents-menu > button {
  padding: 10px 30px 10px 30px;
  background-color: #ff8a3d;
  color: white;
  border-radius: 4px;
  margin: 3px;
}

.content-subject-button {
  padding: 10px 30px 10px 30px;
  background-color: #ff8a3d;
  color: white;
  font-weight: bolder;
  border-radius: 4px;
  margin: 3px;
}

.content-subject-button:hover {
  background-color: var(--main-btn-color);
  box-shadow: 3px 3px 3px #3f00c71a;
}

.views {
  font-size: 15px;
}

.contents-action {
  display: flex;
}

.contents-action > div {
  padding: 5px 7px 0px 0px;
}

.heartIconOn {
  color: var(--main-btn-color);
}

#contents {
  margin: 0 auto;
  text-align: center;
  border-radius: 8px;
}

.contents-box {
  background-color: #ffff;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 600px;
  height: 300px;
  border-radius: 8px;
  padding: 60px;
}

.contents_btn {
  padding: 20px 40px 20px 40px;
  margin: 3px;
  background-color: #ff8a3d;
  border-radius: 4px;
  color: white;
  font-size: 15px;
  font-weight: bolder;
}

.contents_btn:hover {
  background-color: var(--main-btn-color);
  box-shadow: 3px 3px 3px #3f00c71a;
}
