#logo {
    width: 50%;
    height: 50%;
}

.glass {
    width: 15%;
    height: 15%;
}

.header-Brand {
   font-size: xx-large; 
   font-family: "PT Sans", sans-serif;
}

.searching {
    justify-content: space-around;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    height: 200px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    margin-top: 10px;
}

.searchingBox {
    height: 50px;
    width: 150px;
    border:none;
    border-right:0px;
    border-top:0px;
    border-left:0px;
    border-bottom:0px;
}

.menu > * {
    display: column;
    flex-wrap: wrap;
    margin-right: 20px;
    margin-left: 20px;
    flex-wrap: wrap;
}

.brandMenu > span {
    font-size: large;
    margin-top: 10px;
    /* flex-wrap: wrap; */
    word-break: keep-all;
}

.BrandPage {
    display: flex;
    float: left;
    margin-top: 20px;
}

.left-Brand {
    margin-right: 40px;
    margin-left: 20px;
    width: 20%;
}