.home_view_container3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: var(--height-vh);
  width: var(--width-vw);
  background-color: var(--main-body-color);
}
