/* CSS 예시 */

/* 
1. 구현된 기능 별로 css파일 생성
2. 어떤 부분을 작성했는지 반드시 주석달기
3. Mediaquery, display: flex,grid 등 적극 사용
*/

/* 전체 설정 */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  list-style: none;

  font-family: "PT Sans", sans-serif;
}
::-webkit-scrollbar {
  width: 5px;
  background-color: inherit;
}
::-webkit-scrollbar-track {
}
::-webkit-scrollbar-thumb {
  background: var(--main-btn-color);
  border-radius: 7px;
  width: 30px;
}
button {
  border: none;
  outline: none;
}
video {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

:root {
  --brands-background: url("../images/background3.jpg");
  --main-btn-color: rgb(255, 115, 0);
  --main-body-color: #191f28;
  --sub-body-color: #e6e6e6;
  --main-text-color: #f0f4f5;
  --width-pers: 100%;
  --width-vw: 100vw;
  --height-pers: 100%;
  --height-vh: 100vh;
}
