/* CSS 예시 */

/* 
1. 구현된 기능 별로 css파일 생성
2. 어떤 부분을 작성했는지 반드시 주석달기
3. Mediaquery, display: flex,grid 등 적극 사용
*/

/* 전체 설정 */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

:root {
  --main-btn-color: rgb(255, 115, 0);
  --main-body-color: #191f28;
}
