#introduce_view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: var(--main-body-color);
  height: 50vh;
}

.introduce_container {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 80%;
  background: var(--main-btn-color);
  border-radius: 50px;
}

.introduce_left {
  display: flex;
  flex-direction: column;
  flex: 1.5;
}
.introduce_left > h1 {
  padding: 2%;
  color: white;
  font-size: 4rem;
}

.introduce_left > p {
  padding-left: 2%;
  color: white;
  font-size: 1.5rem;
}

.introduce_left > button {
  width: 25%;
  height: 50px;
  border-radius: 20px;
  background: white;

  font-size: 1.5rem;
  font-weight: bolder;

  box-shadow: 0px 1px 10px black;
  margin: auto;
}

.introduce_left > button:hover {
  transition: ease-in 0.2s;
  background: rgb(207, 207, 207);
}
.introduce_right {
  display: flex;
  flex: 1;
  background-image: url("../images/brands.jpg");
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
