#introduce_view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: var(--main-body-color);
  height: 50vh;
}

.introduce_container {
  display: flex;
  flex-direction: row;
  width: 60%;
  height: 80%;
  background: var(--main-btn-color);
  border-radius: 50px;
}

.introduce_left {
  display: flex;
  flex-direction: column;
  flex: 1.5;
}
.introduce_left > h1 {
  padding: 2%;
  color: white;
  font-size: 4rem;
}

.introduce_left > p {
  padding-left: 5%;
  color: white;
  font-size: 1.3rem;
}

.introduce_left > button {
  width: 45%;
  height: 50px;
  border-radius: 20px;
  background: white;

  font-size: 1.5rem;
  font-weight: bolder;

  box-shadow: 0px 1px 10px black;
  margin: auto;
}

.introduce_left > button:hover {
  transition: ease-in 0.2s;
  background: rgb(207, 207, 207);
}
.introduce_right {
  display: flex;
  flex: 1;
  background-image: url("../images/brands.jpg");
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
@media all and (max-width: 1700px) {
  .introduce_left > h1 {
    padding: 2%;
    color: white;
    font-size: 4rem;
    transition: ease-out 0.5s;
  }

  .introduce_left > p {
    padding-left: 5%;
    color: white;
    font-size: 1.3rem;
    transition: ease-out 0.5s;
  }
  .introduce_left > button {
    width: 45%;
    height: 50px;
    border-radius: 20px;
    background: white;

    font-size: 1.1rem;
    font-weight: bolder;

    box-shadow: 0px 1px 10px black;
    margin: auto;
    transition: ease-out 1s;
  }
}
@media all and (max-width: 1300px) {
  .introduce_left > h1 {
    padding: 2%;
    color: white;
    font-size: 4rem;
    transition: ease-out 0.5s;
  }

  .introduce_left > p {
    padding-left: 5%;
    color: white;
    font-size: 1.3rem;
    transition: ease-out 0.5s;
  }

  .introduce_left > button {
    width: 45%;
    height: 50px;
    border-radius: 20px;
    background: white;

    font-size: 1.1rem;
    font-weight: bolder;

    box-shadow: 0px 1px 10px black;
    margin: auto;
    transition: ease-out 1s;
  }
  @media all and (max-width: 1060px) {
    .introduce_left > h1 {
      padding: 2%;
      color: white;
      font-size: 3rem;
      transition: ease-out 0.5s;
    }

    .introduce_left > p {
      padding-left: 5%;
      color: white;
      font-size: 1rem;
      transition: ease-out 0.5s;
    }

    .introduce_left > button {
      width: 43%;
      height: 50px;
      border-radius: 20px;
      background: white;

      font-size: 1rem;
      font-weight: bolder;

      box-shadow: 0px 1px 10px black;
      margin: auto;
      transition: ease-out 1s;
    }
  }
}

@media all and (max-width: 950px) {
  .introduce_container {
    display: inherit;
    width: 100%;
    border-radius: 0;
    height: 100%;
  }

  .introduce_left {
    padding: 10%;
    display: flex;
  }
  .introduce_left > h1 {
    font-size: 5rem 100%;
    color: black;
  }
  .introduce_left > p {
    font-size: 1rem 100%;
    color: black;

    font-weight: bold;
  }
  .introduce_right {
    display: none;
  }
}
