#navbar_box {
  background: beige;
  display: flex;
  height: 80px;
  position: sticky;
  z-index: 999;
  top: 0;
  flex-direction: row;
}

.navbar_container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.navbar_logo {
  justify-self: start;
  cursor: progress;
}

.navbar_links {
  display: flex;
  font-size: 2rem;
  justify-self: center;
  cursor: pointer;
  text-decoration: none;
}

.navbar_item {
  margin-left: 20px;
}
.navbar_link_btn {
  text-decoration: none;
}
.navbar_sign_in_btn {
  font-weight: bold;
  font-size: 1.3rem;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  border: none;
  background-color: var(--main-color);
}

.navbar_sign_in_btn:hover {
  font-weight: bold;
  font-size: 1.3rem;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(0, 26, 255);
  border: none;
  background-color: var(--main-color);
}

@media all and (max-width: 700px) {
  #navbar_box {
    flex-wrap: wrap;
    height: 500px;
    flex-direction: column;
  }
  .navbar_links {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
